<ng-container *ngIf="turnero">
    <div [ngClass]="turnero.color">

        <div class=" box-turno borde inactivo ">

            <div class="cabezal fondo  text-center">
                <b *ngIf="disponibles">Atención</b>:
                <span *ngIf="disponibles > 1 && disponibles <= 10">ultimos {{disponibles}} turnos disponibles</span>
                <span *ngIf="disponibles == 1">último turno disponible</span> {{disponibles}}
                <div *ngIf="disponibles == 0 ">
                    <div class="tipo-turno ">No quedan turnos disponibles, por favor carge un nuevo turnero
                        <b *ngIf="turnero.tipo==='prioritario' ">prioritario</b>
                        <b *ngIf="turnero.tipo==='no-prioritario' ">no prioritario</b> .
                    </div>

                    <div class="text-center ">
                        <a [routerLink]="[ '/turnos'] " class="btn btn-primary ">
                            Cargar turnos
                        </a>
                    </div>
                </div>
            </div>

            <div class="cuerpo ">
                <div class="tipo-turno ">

                    <span *ngIf="turnero.tipo==='prioritario' ">prioritario</span>
                    <span *ngIf="turnero.tipo==='no-prioritario' ">no prioritario</span>
                </div>

                <button type="button " class="btn " (click)="anterior() " *ngIf="disponibles ">
                  <i class="flecha back material-icons md-48 ">play_circle_outline</i>
                </button>

                <div class="d-inline numero " *ngIf="turno && turno.numeros ">
                    {{turno.numeros.letra}} {{turno.numeros.numero}}
                </div>

                <button type="button " class="btn " (click)="siguiente() " *ngIf="disponibles ">
                  <i class="flecha next material-icons md-48 ">play_circle_outline</i>
                </button>

                <br>
                <button class="btn btn-llamar " (click)="llamar(turno) " *ngIf="turno && turno.numeros ">
                    <i class=" material-icons md-48 ">bell_ring</i>
                    Rellamar ({{turno.numeros.llamado}})
                </button>

                <!--<div class="cuerpo " *ngIf="!disponibles ">
                    
                </div>-->
            </div>


        </div>
    </div>
</ng-container>