<ng-container *ngIf="turno && ventanilla">

    <div [ngClass]="turno.color">

        <div class="box-turno borde inactivo">

            <div class="cabezal fondo text-center">
                <!--<h4>Ventanilla {{ventanilla.numeroVentanilla}}</h4>-->
                <h4 class="upper" *ngIf="turno.tipo === 'prioritario'">prioritario</h4>
                <h4 class="upper" *ngIf="turno.tipo === 'no-prioritario'">no prioritario</h4>

            </div>

            <div class="cuerpo container-fluid">
                <div class="tipo-turno">
                    <span *ngIf="turno.atendiendo === 'prioritario'">prioritario</span>
                    <span *ngIf="turno.atendiendo === 'no-prioritario'">no prioritario</span>
                </div>

                <div class="d-inline numero" *ngIf="turno.tipo === 'prioritario' && ventanilla?.ultimoPrioridad">
                    {{turno.letraInicio ? turno.letraInicio : ''}} {{ventanilla.ultimoPrioridad}}
                </div>
                <div class="d-inline numero" *ngIf="turno.tipo === 'no-prioritario' && ventanilla?.ultimoComun">
                    {{turno.letraInicio ? turno.letraInicio : ''}} {{ventanilla.ultimoComun}}
                </div>


                <h3 *ngIf="turno.ultimoNumero === (turno.numeroFin - 10)">Atención:</h3>
                <span *ngIf="turno.ultimoNumero > 1 && turno.ultimoNumero === (turno.numeroFin - 10)">últimos {{turno.ultimoNumero - 10}} turnos disponibles</span>
                <span *ngIf="turno.ultimoNumero === (turno.numeroFin - 1)">ÚLTIMO turno disponible</span>

                <div *ngIf="turno.ultimoNumero === turno.numeroFin">
                    <h4 class="tipo-turno">No quedan turnos disponibles, por favor cargue un nuevo turno
                        <b *ngIf="turno.tipo === 'prioritario'">prioritario</b>
                        <b *ngIf="turno.tipo === 'no-prioritario'">no prioritario</b>
                    </h4>

                    <div class="text-center">
                        <a [routerLink]="['/config/turnos']" class="btn btn-primary">Cargar turnos</a>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">

                    <!-- Rellamar turnos -->
                    <div class="col text-center">
                        <ng-container *ngIf="turno.tipo === 'no-prioritario' && turno?.ultimoNumero > 0">
                            <button class="btn btn-primary" (click)="rellamar(turno, 'actual')">
                                <i class="mdi mdi-bell-ring mdi-48px align-middle"></i>
                                <br />
                                <span class="align-middle">Rellamar actual ({{ventanilla.llamado}})</span>
                            </button>
                        </ng-container>

                        <ng-container *ngIf="turno.tipo === 'prioritario' && turno?.ultimoNumero > 0">
                            <button class="btn btn-primary" (click)="rellamar(turno, 'actual')">
                                <i class="mdi mdi-bell-ring mdi-48px align-middle badge-numero-llamado">
                                    <span class="numero-llamado">{{ventanilla.llamado}}</span>
                                </i>
                                <br />
                                <span class="align-middle">Rellamar actual</span>
                            </button>
                        </ng-container>
                    </div>
                    <!-- // FIN Rellamar turnos -->

                    <div class="col text-center">
                        <ng-container *ngIf="(turno.tipo === 'prioritario' && turno?.numeroFin > turno?.ultimoNumero)
                            || (turno.tipo === 'no-prioritario' && turno?.numeroFin > turno?.ultimoNumero)">

                            <button class="btn btn-primary" (click)="siguiente()">
                                <i class="mdi mdi-arrow-right-bold-box-outline mdi-48px align-middle"></i>
                                <br />
                                <span class="align-middle">Llamar siguiente</span>
                            </button>
                        </ng-container>

                        <!-- // FIN iniciar turnos o llamar al siguiente -->

                        <!-- Turno finalizado, marcar como finalizado y traer el proximo -->
                        <ng-container *ngIf="(turno?.ultimoNumero > 0 && turno?.numeroFin < turno.ultimoNumero) || (turno?.numeroFin === turno.ultimoNumero)">

                            <button class="btn btn-primary" (click)="proximoTurno()">
                                <i class="mdi mdi-arrow-right-bold-box-outline mdi-48px align-middle"></i>
                                <br />
                                <!--<span *ngIf="turno.tipo === 'no-prioritario' && ventanilla?.ultimoComun === turno.ultimoNumero" class="align-middle">Próximo turno</span>
                                <span *ngIf="turno.tipo === 'prioritario' && ventanilla?.ultimoPrioridad === turno.ultimoNumero" class="align-middle">Próximo turno</span>-->
                                <span class="align-middle">Llamar siguiente</span>
                            </button>
                        </ng-container>
                        <!-- // FIN Turno finalizado, marcar como finalizado y traer el proximo -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>